@import '~normalize.css';

$border-radius: 5px;

$purple-color-back-special: #e8c2ca;
$purple-color-back-all: #d1b3c4;
$purple-color-all: #ffe8d6;
$purple-color-number: #b392ac;

.app {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.calculator {
  margin: 0 auto;
  background: rgb(250, 245, 245);
  width: 600px;
  height: 425px;
  border-radius: $border-radius;
}

.field {
  display: flex;
  // justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 100px;
  box-sizing: border-box;
  padding-right: 10px;
  background: #735d78;
  border-radius: $border-radius $border-radius 0 0;

  .output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding-right: 10px;
    background: #735d78;
    text-align: right;
    color: $purple-color-all;
    background-color: #735d78;
    border: none;

    .left,
    .sign,
    .right {
      color: $purple-color-all;
      font-size: 54px;
      font-weight: 700;
      height: 100%;
    }
  }
}

.deleteButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  width: 100%;

  .ac {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    color: $purple-color-all;
    background-color: $purple-color-back-special;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 10px;
  }
}

.columns {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.item {
  box-sizing: border-box;
  background-color: $purple-color-back-all;
  border: black 1px solid;
  width: 100px;
  height: 65px;
  color: $purple-color-all;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.itemNumber {
  background-color: $purple-color-number;
  
}

.comma {
  background-color: $purple-color-back-all;
}

.pink {
  .itemOperation {
    background-color: $purple-color-back-special;
  }  
}

